.container
  .row
    .col-md-12
      h1 Oklahoma City Budget Visualizations

  .row.visualizations
    .col-md-4
      a(href="/fy2017-budget-overview.html")
        h3 FY2017 Budget Overview
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
    .col-md-4
      a(href="/budget-process.html")
        h3 OKC Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
    .col-md-4
     a(href="/budget-radar.html")
       h3 2016 vs 2017 Budget Changes
       img.img-responsive(src="/images/radar_screen_thumb.png")
  .row.visualizations
    .col-md-4
      a(href="/fy2016-budget-overview.html")
        h3 FY2016 Budget Overview
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
    .col-md-4
    .col-md-4
