.container#chartContainer
  style.

  .row
  .intro.col-md-8
    h1 FY2017 Budget Overview
    p.description Click on a fund to see the departments that receive its funding. Click on that department to see its spending or revenue. To step out of the department, click ‘Budget’ until you reach the desired department.

  .row#chart
  table.row.treemap.table-striped#chart-table
    thead
      th Item
      th Expense
    tbody

script(src="http://code.jquery.com/jquery-1.7.2.min.js",charset='utf-8')
script(src="http://d3js.org/d3.v3.min.js"              ,charset='utf-8')
script(src="/js/data.js",charset='utf-8')
script(src="/js/okc-budget-tree.js",charset='utf-8')
  
