.container#chartContainer
  style.
    #chart {
      background: #fff;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    
    .title {
        font-weight: bold;
        font-size: 24px;
        text-align: center;
        margin-top: 6px;
        margin-bottom: 6px;
    }
    text {
      pointer-events: none;
    }
    
    .grandparent text {
      font-weight: bold;
    }
    
    rect {
      fill: none;
      stroke: #fff;
    }
    
    rect.parent,
    .grandparent rect {
      stroke-width: 2px;
    }
    
    rect.parent {
        pointer-events: none;
    }
    
    .grandparent rect {
      fill: orange;
    }
    
    .grandparent:hover rect {
      fill: #ee9700;
    }
    
    .children rect.parent,
    .grandparent rect {
      cursor: pointer;
    }
    
    .children rect.parent {
      fill: #bbb;
      fill-opacity: 1;
      -webkit-transition: fill-opacity .5s;
      transition: fill-opacity .5s;
    }

    .children:hover{
      cursor: pointer;
    }

    .children:hover rect.parent {
      fill: #bbb;
      fill-opacity: .85;
    }
    
    .children:hover rect.child {
      fill: #bbb;
    }

    table.treemap {
      width: 89vw;
      max-width:1140px;
      margin-left:-15px;
      margin-top:30px;
    }
  
    table.treemap tr {
      min-width:98%;
    }
    table.treemap th {
      border-bottom:2pt solid rgb(221, 221, 221);
      text-align:right;
    }

    table.treemap th:nth-child(1) {
      text-align: left;
    }

    table.treemap tr td {
      border-top:1pt solid rgb(221, 221, 221);
      text-align:right;
    }

    table.treemap tr td:nth-child(2n + 1) {
      text-align: left;
    }

    table.treemap th, td {
      padding: 4px;
    }

  .row#chart
  table.treemap.table-striped
    thead
      th Item
      th Expense
    tbody

script(src="http://code.jquery.com/jquery-1.7.2.min.js",charset='utf-8')
script(src="http://d3js.org/d3.v3.min.js"              ,charset='utf-8')
script(src="/js/data.js",charset='utf-8')
script(src="/js/okc-budget-tree.js",charset='utf-8')
  
