


.container
  .row
    .col-md-12
      h1 Oklahoma City FY2017 Budget Visualizations
      h4.subheader
        | Understanding the city budget by visualizing data, providing a forum for dialogue, and sharing essential information about the budget process.

  hr

  .row.visualizations
    .col-md-4
      a(href="/fy2017-budget-overview.html")
        h3 FY2017 Budget Overview
        img.img-responsive(src="/images/fy2016-tree-thumb.png")
        p See the entire FY2017 budget and drill down into various departments and programs.
    .col-md-4
      a(href="/budget-process.html")
        h3 OKC Budget Process Timeline
        img.img-responsive(src="/images/fy2017-timeline-thumb.png")
        p See the timeline that Oklahoma City uses to propose and set their budget.
    .col-md-4
      a(href="/budget-radar.html")
        h3 2016 vs 2017 Budget Changes
        img.img-responsive(src="/images/radar_screen_thumb.png")
        p See the differences between the 2016 and 2017 fiscal year budgets.

  hr

  .row
    .col-md-6
      != partial("_what-we-do")

    .col-md-6
      != partial("_who-we-are")
